In [1]:

# Import necessary modules
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, rank, udf
from pyspark.sql.window import Window
from pyspark.sql.types import StringType

In [2]:
spark = SparkSession.builder.appName("PySparkSQLBasicExample").getOrCreate()

In [6]:
# Sample data as list of Rows

data = [
    {"id": 1, "name": "Alice", "age": 28},
    {"id": 2, "name": "Bob", "age": 35},
    {"id": 3, "name": "Charlie", "age": 30}
]

In [7]:
# Create DataFrame from data
df = spark.createDataFrame(data)

In [8]:
# Register the DataFrame as a temporary SQL table
df.createOrReplaceTempView("people")

In [9]:
# Run a basic SQL query
result = spark.sql("SELECT name, age FROM people WHERE age > 30")

In [10]:
# Show the result
result.show()

+----+---+
|name|age|
+----+---+
| Bob| 35|
+----+---+

In [11]:
# ðŸ’¬ Explanation:
# - createDataFrame: Converts Python objects to Spark DataFrame
# - createOrReplaceTempView: Registers DataFrame as a SQL table
# - spark.sql: Executes SQL queries on registered tables