In [1]:

# Import necessary modules
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, rank, udf
from pyspark.sql.window import Window
from pyspark.sql.types import StringType

In [ ]:
spark = SparkSession.builder.appName("JoiningTableExample").getOrCreate()

In [3]:
# Sample employee data
emp_data = [
    {"emp_id":1, "name":"Alice", "dept_id":101},
    {"emp_id":2, "name":"Bob", "dept_id":102},
    {"emp_id":3, "name":"Charlie", "dept_id":101}
]

# Sample department data
dept_data = [
    {"dept_id":101, "dept_name":"HR"},
    {"dept_id":102, "dept_name":"IT"}
]

In [4]:
# Create DataFrames
emp_df = spark.createDataFrame(emp_data)
dept_df = spark.createDataFrame(dept_data)

In [6]:
# Register as SQL views
emp_df.createOrReplaceTempView("employees")
dept_df.createOrReplaceTempView("departments")

In [7]:
# SQL query to join tables and use string function
joined = spark.sql("""
    SELECT 
        e.name,
        d.dept_name,
        UPPER(d.dept_name) AS dept_upper
    FROM employees e
    JOIN departments d ON e.dept_id = d.dept_id
""")

joined.show()

+-------+---------+----------+
|   name|dept_name|dept_upper|
+-------+---------+----------+
|  Alice|       HR|        HR|
|Charlie|       HR|        HR|
|    Bob|       IT|        IT|
+-------+---------+----------+

In [8]:
# ðŸ’¬ Explanation:
# - JOIN: Combines rows from two tables based on matching dept_id
# - UPPER(): SQL string function to convert text to uppercase
# - Aliasing (e, d): Shortens table names for cleaner syntax